<style>
  .table {
    background-color: #ffffff; /* Color de fondo blanco */
    color: #000; /* Color de texto negro */
    border: 2px solid #9CA986; /* Borde de la tabla */
  }

  .table th {
    background-color: #9CA986; /* Color de fondo de los encabezados */
    color: #000; /* Color del texto en los encabezados */
  }

  .table tbody tr:hover {
    background-color: #5F6F65; /* Color al pasar el mouse sobre las filas */
  }

  .table td,
  .table th {
    padding: 15px; /* Espaciado interno */
  }

  .btn-danger {
    background-color: #dc3545; /* Rojo para botón eliminar */
    border: none;
  }

  .btn-success {
    background-color: #28a745; /* Verde para botón editar */
    border: none;
  }

  .btn-group .btn {
    margin-right: 5px; /* Espaciado entre botones */
  }

  .warning-box {
    border: 2px solid #28a745; 
    background-color: #d4edda; 
    padding: 15px;  
    margin: 20px 0; 
    border-radius: 5px;    
  }

  .warning-box img {
    max-width: 100%; 
    height: auto; 
  }
</style>


<div class="warning-box">
  {{#if (lt total 20000)}}
    <p>¡Advertencia! El total es menor a 20,000 clp, has ganado: {{total}} clp.</p>
    <img src="{{lookup images 0.path}}" alt="Imagen de advertencia">
  {{else}}
    <p>¡Felicidades! Has alcanzado un total de {{total}} clp.</p>
    <img src="{{lookup images 1.path}}" alt="Imagen de celebración">
  {{/if}}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">
        <a href="/addproduct" class="btn btn-primary">Nuevo Ítem</a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td><img src="{{this.image_path}}" class="rounded-circle" height="30" width="30" /></td>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <form action="/products/delete/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
            <button type="button" class="btn btn-success">
              <a href="/products/editar/{{this.id}}" class="text-white">Editar</a>
            </button>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
