<h2>Tu Carrito</h2>

{{#if message}}
  <p>{{message}}</p>
{{else}}
  <ul>
    {{#each cartItems}}
      <li>{{name}} - {{quantity}} x ${{price}}</li>
    {{/each}}
  </ul>
  <p>Total: ${{totalAmount}}</p>
{{/if}}
