<div class="container mt-4">
  <h2 class="text-center mb-4">Tu Carrito</h2>

  {{#if message}}
  <div class="alert alert-info text-center">
    <p>{{message}}</p>
  </div>
  {{else}}
  <ul class="list-group mb-3">
    {{#each cartItems}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{name}}</span>
      <span>{{quantity}} x ${{price}}</span>
    </li>
    {{/each}}
  </ul>
  <p class="text-end fw-bold">Total: ${{totalAmount}}</p>
  <div class="text-end">
    <form action="/cart/checkout" method="POST">
      <button type="submit">Pagar</button>
    </form>
  </div>
  {{/if}}
</div>
